<?xml version="1.0" encoding="utf-8" ?>
<Configuration
  SearchKeyWord="Google Cloud Platform Pricing Calculator"
  MailPostfix="@yopmail.com"
  MailServiceAddress="https://yopmail.com/"
  CloudServiceAddress="https://cloud.google.com/"
  ScreenshotsFilePath="Screenshots\Screenshot ">
</Configuration>
